<!-- <div class="container pt-5 my-5 bg-white">
    <div class="row align-items-center">
      <div class="col-md-10 offset-md-1"> -->
        <% if(locals.success.length>0) { %>
          <div class="w-75 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
              role="alert">
              <%= success %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>

        <% if(locals.error.length>0) { %>
          <div
            class=" w-75 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
            role="alert">
            <%= error %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>

   
          
         

       

<div class="container-fluid">
 <div class="row mt-5">
 <div class="col-lg-4 col-xl-4 col-sm-12">
<div class="sticky-top bg-light pt-5">

<!-- Form Code -->
  <form name="myForm" action="/staff/addclass" method="POST">

    <h2 class="text-center" style="font-family: 'Times New Roman', Times, serif;">Add Class</h2>

    


     

        <div class="mb-3">
          <div class="form-floating w-100 p-2">
            <select class="form-select" aria-label="Default select example" id="class" name="class">
              <option selected>Select</option>
              <option value="LKG">LKG</option>
              <option value="UKG">UKG</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <label for="class">Class</label>
          </div>
        </div>


        <div class="mb-3">
          <div class="form-floating  w-100 p-2">
            <input type="number" class="form-control" name="actualfee" id="actualfee" placeholder="Actual Fee">
            <label for="actualfee">Actual Fee Per Year</label>
          </div>
        </div>
<center>
    <input type="submit" class="btn btn-primary align-center" value="submit" />
  
<a href="/staff/staffinfo" class="btn btn-outline-primary btn-sm" role="button">Back To Your Profile</a>

</center>
 </div>
 </div>

<div class="col-xl-8 col-lg-8 col-sm-12 overflow-auto border">

<!-- Table Code  -->
<table class="table table-light text-center">
  <thead>
    <tr>
    <th scope="col">S.No</th>
    <th scope="col">Class</th>
    <th scope="col">ACTUAL FEE FOR THE CLASS</th>
  </tr>
  </thead>
  <tbody>
      <% if(result) {        
          for(var i = 0; i < result.length; i++) { %>
            <tr>
              <th scope="row"><%= (i+1) %>.</th>
              <td><%= result[i].Class %></td>
              <td><%= result[i].Actual_fee %></td>
            </tr>
      <%  }  
        } else { %>
                <tr>
                  <td colspan="12" class="text-center">No Records Found.</td>
                 </tr>
          <% } %>
      </tbody>
    </table>
 </div>
</div>
</div>

  
       
      
      
<!-- </div>
</div>
</div> -->