
        <% if(locals.success.length>0) { %>
          <div class="w-75 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
              role="alert">
              <%= success %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>

        <% if(locals.error.length>0) { %>
          <div
            class=" w-75 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
            role="alert">
            <%= error %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>

          <div class="container-fluid">
            <div class="row mt-5">
            <div class="col-lg-4 col-xl-4 col-sm-12">
           <div class="sticky-top bg-light pt-5">

            <!-- Form Code -->
    <form name="myForm" action="/staff/addsection" method="POST">

      <h2 class="text-center" style="font-family: 'Times New Roman', Times, serif;">Add Section</h2>
      <div class="mb-3">
        <div class="form-floating w-100 p-2">
          <select class="form-select" aria-label="Default select example" id="class" name="class">
            <% if (locals.result) { %>
                <% for ( let i=0; i < locals.result[1].length; i++){ %>
                    <option value="<%= locals.result[1][i].ID %>"><%= locals.result[1][i].Class %></option>
                
           <% } }  %>
          </select>
          <label for="class">Class</label>
        </div>
      </div>


         

          
          <div class="mb-3">
            <div class="form-floating w-100 p-2">
              <select class="form-select" aria-label="Default select example" id="section" name="section">
                <option selected>Select</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
              </select>
              <label for="section">Section</label>
            </div>
          </div>
          
          <div class="mb-3">
            <div class="form-floating  w-100 p-2">
              <input type="text" class="form-control" name="capacity" id="capacity" placeholder="Capacity">
              <label for="capacity">Capacity</label>
            </div>
          </div>

       
  
     <center>
            <input type="submit" class="btn btn-primary align-center" value="submit" />
        
        <a href="/staff/staffinfo" class="btn btn-outline-primary btn-sm" role="button">Back To Your Profile</a>


      </center>
    </div>
  </div>
 
 <div class="col-xl-8 col-lg-8 col-sm-12 overflow-auto border">
 
 <!-- table code  -->
    
    <table class="table table-light text-center">
        <thead>
          <tr>
          <th scope="col">S.No</th>
          <th scope="col">Class</th>
          <th scope="col">SECTION</th>
          <th scope="col">CAPACITY</th>
        </tr>
        </thead>
        <tbody>
            <% if(result) {        
                for(var i = 0; i < result[0].length; i++) { %>
                  <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= result[0][i].Class %></td>
                    <td><%= result[0][i].section %></td>
                    <td><%= result[0][i].capacity %></td>
                  </tr>
            <%  }  
              } else { %>
                      <tr>
                        <td colspan="12" class="text-center">No Records Found.</td>
                       </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
      </div>

