<% if(locals.success.length>0) { %>
    <div class="w-75 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
        role="alert">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

  <% if(locals.error.length>0) { %>
    <div
      class=" w-75 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
      role="alert">
      <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>


      <center>

        <form name="myForm" action="/staff/exam-mark" method="POST">

          <b>
            <h1 style="font-family: 'Times New Roman', Times, serif;">Add Mark</h1>
          </b><br>

<input type="hidden" id="staff_id_mark" name="staff_id_mark" value="<%= locals.result[0].Staff_ID %>">

          <div class="mb-3" id="dummy_mark">
            <div class="form-floating w-50 p-2">
              <select class="form-select" aria-label="Default select example" id="section_id_mark" name="section_id_mark">
                <option value="">Select Class & Section</option>
                <% if (locals.result) { %>
                  <% for ( let i=0; i < locals.result.length; i++){ %>
                      <option value="<%= locals.result[i].Section_id %>"><%= locals.result[i].Class %> - <%= locals.result[i].section %></option>
                  
             <% } }  %>
              </select>
              <label for="section_id_mark">Choose Class & Section</label>
            </div>
          </div>

          
        

        <div id="exam_mark"></div>  


          <button class="btn btn-primary" type="submit">Submit</button> <br><br>

        </form>
      </center>
      


     
<!-- 
                  <div id='exam_mark_${value}' class='m-1 row g-3'>
                  <div class='col'>
                  <label for='stud_${value}_mark'>Student ${value}</label>
                  <input id='stud_${value}_mark' type='text' class='${counter} student_id stud_${value}_mark form-control' placeholder='Student' name='stud_${value}_mark' value='' disabled>
                  <input id='stud_${value}_mark_hidden' type='hidden' class='${counter}_hidden student_id stud_${value}_mark form-control' name='stud_${value}_mark_hidden'>
                  </div>
                  <div class='col'>
                  <label for='sub_${value}_markScored'>Mark Scored</label>
                  <input id='sub_${value}_markScored' type='number' class='${counter} mark_scored sub_${value}_markScored form-control' placeholder='Mark Scored' name='sub_${value}_markScored'>
                  <input id='sub_${value}_markScored_hidden' type='hidden' class='${counter}_hidden mark_scored sub_${value}_markScored form-control' name='sub_${value}_markScored_hidden'>
                  </div>
                  <div class='col'>
                    <label for='sub_${value}_result'>Result</label>
                    <select data-id='${counter}' id='sub_${value}_result' class='${counter} subject_actualmark sub_${value}_result form-control' name='sub_${value}_result' required>
                      <option value=''>Choose Result</option>
                      <option value='Pass'>Pass</option>
                      <option value='Fail'>Fail</option>
                      </select>
                    </div>
                  </div><br><br> -->