<center>
    <h1 style="font-family: 'Times New Roman', Times, serif;">YOUR DETAILS</h1><br>
    <a href="/student/addstudent">
        <h5 style="font-family: 'Times New Roman', Times, serif;"> To Add a New Student Please Click Here
        </h5>
    </a>
</center>
<% if(locals.welcome.length>0) { %>
    <div class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
        role="alert">
        <%= welcome %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

        <div>
           <% if(locals.result[0].Role == 'admin') { %>
            <center><a href="/staff/view-staff" class="btn btn-secondary" role="button">View All Staff Details
                            </a></center>
                <% } %>
                
           <% if(locals.result[0].Role == 'staff') { %>
            <center><a href="/staff/viewstudent" class="btn btn-secondary" role="button">View All Student Details
                            </a></center>
                <% } %>
                

            <table
                class="w-50 p-3 container d-flex align-items-center justify-content-center table table-dark table-striped">
                <tr>
                    <td class="text-decoration-underline fw-bold">STAFF ID</td>
                    <td>
                        <%= locals.result[0].Staff_id %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">ROLE</td>
                    <td>
                        <%= locals.result[0].Role %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">NAME</td>
                    <td>
                        <%= locals.result[0].Full_Name %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">DOB</td>
                    <td>
                        <%= locals.result[0].DOB %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">MARTIAL STATUS</td>
                    <td>
                        <%= locals.result[0].Martial_Status %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">JOINING DATE</td>
                    <td>
                        <%= locals.result[0].Joining_Date %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">QUALIFCATION</td>
                    <td>
                        <%= locals.result[0].Qualification %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">AADHAR NUMBER</td>
                    <td>
                        <%= locals.result[0].Aadhar_No %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">STAFF TYPE</td>
                    <td>
                        <%= locals.result[0].Staff_type %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">ACCOUNT NO</td>
                    <td>
                        <%= locals.result[0].Staff_Account_No %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">BLOOD GROUP</td>
                    <td>
                        <%= locals.result[0].Blood_Group %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">EMAIL ID</td>
                    <td>
                        <%= locals.result[0].Email_ID %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">PHONE NO</td>
                    <td>
                        <%= locals.result[0].Phone_Number %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">PRE INSTITUTE NAME</td>
                    <td>
                        <%= locals.result[0].Pre_Institute_Name %>
                    </td>
                </tr>

            </table>

        </div>