<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">

     <!-- sidebar's button   -->

     <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      <h4 style="font-family: 'Times New Roman', Times, serif;" class="text-white">Hi Mr. <%= locals.result[0][0].Full_Name %></h4>
     
        
    
    </div>
  
  </nav>



    
    
    
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <% if(locals.result[0][0].Role == 'admin') { %>
        <a href="/staff/view-staff">View All Staff Details
                        </a>
        <a href="/staff/addstaff">Add New Staff
                        </a>
        <a href="/staff/admission-fee">Student Admission Fee
                        </a>
        <a href="/staff/student-due-collection">Collect Student's Due
                        </a>
        <a href="/staff/addclass">Add or View Class
                        </a>
        <a href="/staff/addsection">Add or View Section
                        </a>
        <a href="/staff/addsubject">Add or View Subjects
                        </a>                
        <a href="/staff/mapping-staff-subject-class">Map Subject And Staff To Class
                        </a> 
        <a href="/staff/schedule-plan">Create Schedule
                        </a>
        <a href="/staff/week-schedule">Create Week Schedule
                        </a>
        <a href="/staff/student-exam">Create Exam
                        </a>
        <a href="/staff/staffchangepwd">Change Password
                        </a>
        <a href="/staff/stafflogout" class="nav-link active " aria-current="page">Logout
                        </a>
            <% } %>
            
       <% if(locals.result[0][0].Role == 'staff') { %>
       <a href="/staff/viewstudent">View All Student Details
                        </a>
            
      <a href="/staff/addnewstudent">Add New Student</a>
      <a href="/staff/exam-mark">Add Mark For Students</a>
      <a href="/staff/staffchangepwd">Change Password
                        </a>
      <a href="/staff/stafflogout" class="nav-link active " aria-current="page">Logout</a>
      <% } %>
    </div>
    
    
    
    
    

  <center>
    <h1 style="font-family: 'Times New Roman', Times, serif;">YOUR DETAILS</h1><br>
    
       
</center>
<% if(locals.welcome.length>0) { %>
    <div class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
        role="alert">
        <%= welcome %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <% if(locals.success.length>0) { %>
        <div class="w-75 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
            role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

      <% if(locals.error.length>0) { %>
        <div
          class=" w-75 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
          role="alert">
          <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

        <div>
            <% if(locals.result[0][0].Role == 'staff') { %>  
                <center>
             <a href="/staff/staff-timetable" class="btn btn-outline-primary btn-sm" role="button">Click Here To View Your Time Table</a>
            </center> <% } %>

            <table
                class="w-50 p-3 container d-flex align-items-center justify-content-center table table-dark table-hover">
                <tr>
                    <td class="text-decoration-underline fw-bold">STAFF ID</td>
                    <td>
                        <%= locals.result[0][0].Staff_id %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">ROLE</td>
                    <td>
                        <%= locals.result[0][0].Role %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">NAME</td>
                    <td>
                        <%= locals.result[0][0].Full_Name %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">DOB</td>
                    <td>
                        <%= locals.result[0][0].DOB %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">MARTIAL STATUS</td>
                    <td>
                        <%= locals.result[0][0].Martial_Status %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">JOINING DATE</td>
                    <td>
                        <%= locals.result[0][0].Joining_Date %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">QUALIFCATION</td>
                    <td>
                        <%= locals.result[0][0].Qualification %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">AADHAR NUMBER</td>
                    <td>
                        <%= locals.result[0][0].Aadhar_No %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">STAFF TYPE</td>
                    <td>
                        <%= locals.result[0][0].Staff_type %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">ACCOUNT NO</td>
                    <td>
                        <%= locals.result[0][0].Staff_Account_No %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">BLOOD GROUP</td>
                    <td>
                        <%= locals.result[0][0].Blood_Group %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">EMAIL ID</td>
                    <td>
                        <%= locals.result[0][0].Email_ID %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">PHONE NO</td>
                    <td>
                        <%= locals.result[0][0].Phone_Number %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">PRE INSTITUTE NAME</td>
                    <td>
                        <%= locals.result[0][0].Pre_Institute_Name %>
                    </td>
                </tr>

            </table>

        </div>


  
