<!DOCTYPE html>
<html lang="en">




<body>
    <center>
        <h1 style="font-family: 'Times New Roman', Times, serif;">STAFF'S INFO</h1><br>
        <a href="/student/addstudent">
            <h5 style="font-family: 'Times New Roman', Times, serif;"> To Add a New Student Please Click Here
            </h5>
        </a>
    </center>
    <% if(locals.success) { %>
        <div class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
            role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <div>


                <table
                    class="w-50 p-3 container d-flex align-items-center justify-content-center table table-dark table-striped">
                    <tr>
                        <td class="text-decoration-underline fw-bold">STAFF ID</td>
                        <td>
                            <%= staff_id %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">ROLE</td>
                        <td>
                            <%= role %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">NAME</td>
                        <td>
                            <%= name %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">DOB</td>
                        <td>
                            <%= dob %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">MARTIAL STATUS</td>
                        <td>
                            <%= martial_status %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">JOINING DATE</td>
                        <td>
                            <%= joining_date %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">QUALIFCATION</td>
                        <td>
                            <%= qualification %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">AADHAR NUMBER</td>
                        <td>
                            <%= aadhar %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">STAFF TYPE</td>
                        <td>
                            <%= staff_type %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">ACCOUNT NO</td>
                        <td>
                            <%= acc_no %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">BLOOD GROUP</td>
                        <td>
                            <%= bloodgrp %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">EMAIL ID</td>
                        <td>
                            <%= emailid %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">PHONE NO</td>
                        <td>
                            <%= phone_no %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-decoration-underline fw-bold">PRE INSTITUTE NAME</td>
                        <td>
                            <%= pre_institute_name %>
                        </td>
                    </tr>

                </table>

            </div>










</body>

</html>