<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">

     <!-- sidebar's button   -->

     <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      <h4 style="font-family: 'Times New Roman', Times, serif;" class="text-white">Hi Mr. <%= locals.result[0][0].Full_Name %></h4>
     
        
    
    </div>
  
  </nav>



    
    
    
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <% if(locals.result[0][0].Role == 'admin') { %>
        <a href="/staff/view-staff">View All Staff Details
                        </a>
        <a href="/staff/addstaff">Add New Staff
                        </a>
        <a href="/staff/admission-fee">Student Admission Fee
                        </a>
        <a href="/staff/student-due-collection">Collect Student's Due
                        </a>
        <a href="/staff/addclass">Add or View Class
                        </a>
        <a href="/staff/addsection">Add or View Section
                        </a>
        <a href="/staff/addsubject">Add or View Subjects
                        </a>                
        <a href="/staff/mapping-staff-subject-class">Map Subject And Staff To Class
                        </a> 
        <a href="/staff/schedule-plan">Create Schedule
                        </a>
        <a href="/staff/week-schedule">Create Week Schedule
                        </a>
        <a href="/staff/staffchangepwd">Change Password
                        </a>
        <a href="/staff/stafflogout" class="nav-link active " aria-current="page">Logout
                        </a>
            <% } %>
            
       <% if(locals.result[0][0].Role == 'staff') { %>
       <a href="/staff/viewstudent">View All Student Details
                        </a>
            
      <a href="/staff/addnewstudent">Add New Student</a>
      <a href="/staff/staffchangepwd">Change Password
                        </a>
      <a href="/staff/stafflogout" class="nav-link active " aria-current="page">Logout</a>
      <% } %>
    </div>
    
    
    
    
    

  <center>
    <h1 style="font-family: 'Times New Roman', Times, serif;">YOUR DETAILS</h1><br>
    
       
</center>
<% if(locals.welcome.length>0) { %>
    <div class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
        role="alert">
        <%= welcome %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <% if(locals.success.length>0) { %>
        <div class="w-75 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
            role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

      <% if(locals.error.length>0) { %>
        <div
          class=" w-75 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
          role="alert">
          <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

        <div>
            <% if(locals.result[0][0].Role == 'staff') { %>  
                <!-- Button trigger modal -->
                <center>
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                 Click Here To View Your Time Table
             </button></center> <% } %>

            <table
                class="w-50 p-3 container d-flex align-items-center justify-content-center table table-dark table-hover">
                <tr>
                    <td class="text-decoration-underline fw-bold">STAFF ID</td>
                    <td>
                        <%= locals.result[0][0].Staff_id %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">ROLE</td>
                    <td>
                        <%= locals.result[0][0].Role %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">NAME</td>
                    <td>
                        <%= locals.result[0][0].Full_Name %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">DOB</td>
                    <td>
                        <%= locals.result[0][0].DOB %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">MARTIAL STATUS</td>
                    <td>
                        <%= locals.result[0][0].Martial_Status %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">JOINING DATE</td>
                    <td>
                        <%= locals.result[0][0].Joining_Date %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">QUALIFCATION</td>
                    <td>
                        <%= locals.result[0][0].Qualification %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">AADHAR NUMBER</td>
                    <td>
                        <%= locals.result[0][0].Aadhar_No %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">STAFF TYPE</td>
                    <td>
                        <%= locals.result[0][0].Staff_type %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">ACCOUNT NO</td>
                    <td>
                        <%= locals.result[0][0].Staff_Account_No %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">BLOOD GROUP</td>
                    <td>
                        <%= locals.result[0][0].Blood_Group %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">EMAIL ID</td>
                    <td>
                        <%= locals.result[0][0].Email_ID %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">PHONE NO</td>
                    <td>
                        <%= locals.result[0][0].Phone_Number %>
                    </td>
                </tr>
                <tr>
                    <td class="text-decoration-underline fw-bold">PRE INSTITUTE NAME</td>
                    <td>
                        <%= locals.result[0][0].Pre_Institute_Name %>
                    </td>
                </tr>

            </table>

        </div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Your Time Table</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <!-- Table Code  -->
<table class="table table-light text-center">
    <thead>
      <tr>
      <th scope="col">S.No</th>
      <th scope="col">DAY</th>
      <th scope="col">CLASS & SECTION</th>
      <th scope="col">PERIOD NO</th>
      <th scope="col">SUBJECT</th>
      <th scope="col">ATTENDANCE</th>
    </tr>
    </thead>
    <tbody>
        <% if(result) {        
            for(var i = 0; i < result[1].length; i++) { %>
              <tr>
                <th scope="row"><%= (i+1) %>.</th>
                <td><%= result[1][i].day %></td>
                <td><%= result[1][i].Class %> - <%= result[1][i].section %></td>
                <td><%= result[1][i].period_no %></td>
                <td><%= result[1][i].subject_name %></td>
                <td>
                    <a
                      class="btn btn-info View"
                      href="/staff/stud-attendance/<%= result[1][i].section_id %>/<%= result[1][i].staff_id %>/<%= result[1][i].ID %>"
                      >
                      <i i class="fa fa-plus" aria-hidden="true"></i></a>
                    <!-- <a
                      class="btn btn-warning edit"
                      href="/staff/stud-attendance/<%= result[1][i].section_id %>/<%= result[1][i].staff_id %>/<%= result[1][i].ID %>"
                      >
                      <i class="fa fa-edit"></i></a> -->
                  </td>
              </tr>
        <%  }  
          } else { %>
                  <tr>
                    <td colspan="12" class="text-center">No Records Found.</td>
                   </tr>
            <% } %>
        </tbody>
      </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>