<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">

     <!-- sidebar's button   -->

     <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      
<h4 style="font-family: 'Times New Roman', Times, serif;">Hi!!...<%= locals.result[0].Full_Name %></h4>
        
    
    </div>
  
  </nav>

  

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Homepage</a>
    <a href="/student/studfee">Pay Your Fee</a>
    <a href="/student/changepwd">Change Password</a>
      <a href="/student/studlogout">Logout</a>
    </div>


  
   


    <center>
        <h1 style="font-family: 'Times New Roman', Times, serif;">STUDENT PROFILE</h1>
    </center>
    <% if(locals.success.length>0) { %>
        <div class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
            role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
            

        <% if(locals.error.length>0) { %>
            <div
              class=" w-50 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
              role="alert">
              <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
            <div class="container pt-3 my-5 bg-white">
             
               

  
  <table class="w-50 p-3 container d-flex align-items-center justify-content-center table table-light ">
    <tr>
      <td class="text-decoration-underline fw-bold">NAME</td>
      <td>
        <%= locals.result[0].Full_Name %>
      </td>
  </tr>
  <tr>
    <td class="text-decoration-underline fw-bold">FATHER NAME</td>
    <td>
      <%= locals.result[0].Father_name %>
    </td>
</tr>
<tr>
  <td class="text-decoration-underline fw-bold">MOTHER NAME</td>
  <td>
    <%= locals.result[0].Mother_name %>
  </td>
</tr>

<tr>
  <td class="text-decoration-underline fw-bold">AADHAR NUMBER</td>
  <td>
    <%= locals.result[0].Stud_Aadhar_No %> 
   </td>
</tr>
<tr>
  <td class="text-decoration-underline fw-bold">PHONE NUMBER</td>
  <td>
    <%= locals.result[0].Emergency_Contact_No %>
  </td>
</tr>
      </table>
         
                </div>


<!-- 

             
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Change Password
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Your Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     
  
      
                  <% if(locals.success.length>0) { %>
                    <div class="w-75 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
                        role="alert">
                        <%= success %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
      
                  <% if(locals.error.length>0) { %>
                    <div
                      class=" w-75 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
                      role="alert">
                      <%= error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
      
      
      
                        <form name="myForm" action="/student/changepwd"  method="POST">
                         
    
                          <div class="mb-3">
                            <div class="form-floating w-50 p-2">
                              <input type="password" class="form-control" name="pwd1" id="pwd1" placeholder="Enter Your Old Password">
                              <label for="pwd1">Enter Your Old Password</label>
                            </div>
                          </div>
    
                          <div class="mb-3">
                            <div class="form-floating w-50 p-2">
                              <input type="password" class="form-control" name="pwd2" id="pwd2" placeholder="Type New Password">
                              <label for="pwd2">Type New Password</label>
                            </div>
                          </div>
    
                          <div class="mb-3">
                            <div class="form-floating w-50 p-2">
                              <input type="password" class="form-control" name="pwd3" id="pwd3" placeholder="Re-Type Password">
                              <label for="pwd3">Re-Type Password</label>
                            </div>
                          </div>
                          <button class="btn btn-primary" type="submit">CHANGE PASSWORD</button> <br><br>
      
      
                        
      
                        </form>
                
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->