<div class="container pt-3 my-3 bg-white">
    <% if(locals.success.length>0) { %>
      <div class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
          role="alert">
          <%= success %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
    <% if(locals.error.length>0) { %>
      <div
        class=" w-50 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
        role="alert">
        <%= error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
          <div class="row align-items-center">
            <div class="col-md-10 offset-md-1">
                    <center>
                      <form name="myForm" action="/staff/student-exam" method="POST">
                        <b>
                          <h1 style="font-family: 'Times New Roman', Times, serif;">CREATE EXAM</h1>
                        </b><br>
                            <div class="mb-3">
                              <div class="form-floating w-75 p-2">
                                <input type="text" class="form-control" name="exam_name" id="exam_name" placeholder="Name Of The Exam" required>
                                <label for="exam_name">Name Of The Exam</label>
                              </div>
                            </div>

                            <div class="mb-3">
                            <div class="form-floating w-75 p-2">
                              <select class="form-select" aria-label="Default select example" id="exam_master" name="exam_master">
                                <option selected>Select</option>
                                <option value="Mid Term">Mid Term</option>
                                <option value="Quarterly">Quarterly</option>
                                <option value="Half Yearly">Half Yearly</option>
                                <option value="Final OR Annual">Final OR Annual</option>
                                <option value="Model Exam">Model Exam</option>
                              </select>
                              <label for="exam_master">Exam Master</label>
                            </div>
                          </div>

                            <div class="mb-3" id="dummy1">
                              <div class="form-floating w-75 p-2">
                                <select class="form-select" aria-label="Default select example" id="exam_section" name="exam_section">
                                  <option selected="">Choose Class & Section</option>
                                  <% if (locals.result) { %>
                                    <% for ( let i=0; i < locals.result.length; i++){ %>
                                        <option value="<%= locals.result[i].ID %>"><%= locals.result[i].Class %> - <%= locals.result[i].section %></option>
                               <% } }  %>
                                </select>
                                <label for="exam_section">Class & Section</label>
                              </div>
                            </div>
                            
    <div id="exam_plan"></div>
                       
                        <button class="btn btn-primary" type="submit">SUBMIT</button>
                         <br><br>
                         <a href="/staff/staffinfo" class="btn btn-outline-primary btn-sm" role="button">Back To Your Profile</a>
                         &nbsp; &nbsp;
                         <a href="/staff/view-exam" class="btn btn-outline-primary btn-sm" role="button">View Exams</a>
                      </form>
                    </center>
            </div>
          </div>
               
               
                   </div>
        </div>
    