<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">

     <!-- sidebar's button   -->

     <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      
<h4 style="font-family: 'Times New Roman', Times, serif;">Hi!!... <%= locals.profile[0].Middle_Name %></h4>
        
    
    </div>
  
  </nav>

  

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Homepage</a>
    <a href="/student/studfee">Pay Your Fee</a>
    <a href="/student/changepwd">Change Password</a>
      <a href="/student/studlogout">Logout</a>
    </div>


  
   


    <center>
        <h1 style="font-family: 'Times New Roman', Times, serif;">STUDENT PROFILE</h1>
    </center>
    <% if(locals.success.length>0) { %>
        <div class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
            role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
            

        <% if(locals.error.length>0) { %>
            <div
              class=" w-50 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
              role="alert">
              <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
            <div class="container pt-3 my-5 bg-white">
             
               

  
  <table class="w-50 p-3 container d-flex align-items-center justify-content-center table table-dark table-hover ">

    <tr>
      <td class="text-decoration-underline fw-bold">ROLL NUMBER</td>
      <td>
        <%= locals.profile[0].Stud_ID %> 
       </td>
    </tr>

    <tr>
      <td class="text-decoration-underline fw-bold">NAME</td>
      <td>
        <%= locals.profile[0].First_Name %> <%= locals.profile[0].Middle_Name %> <%= locals.profile[0].Last_Name %>
      </td>
  </tr>
  <tr>
    <td class="text-decoration-underline fw-bold">CLASS & SECTION</td>
    <td>
      <%= locals.profile[0].Class %> - <%= locals.profile[0].section %>
    </td>
</tr>

  <tr>
    <td class="text-decoration-underline fw-bold">FATHER NAME</td>
    <td>
      <%= locals.profile[0].Father_name %>
    </td>
</tr>

<tr>
  <td class="text-decoration-underline fw-bold">MOTHER NAME</td>
  <td>
    <%= locals.profile[0].Mother_name %>
  </td>
</tr>

<tr>
  <td class="text-decoration-underline fw-bold">AADHAR NUMBER</td>
  <td>
    <%= locals.profile[0].Stud_Aadhar_No %> 
   </td>
</tr>

<tr>
  <td class="text-decoration-underline fw-bold">DATE OF BIRTH</td>
  <td>
    <%= locals.profile[0].DOB %> 
   </td>
</tr>


<tr>
  <td class="text-decoration-underline fw-bold">PHONE NUMBER</td>
  <td>
    <%= locals.profile[0].Emergency_Contact_No %>
  </td>
</tr>

<tr>
  <td class="text-decoration-underline fw-bold">MAIL ID</td>
  <td>
    <%= locals.profile[0].email_id %>
  </td>
</tr>
      </table>
         
                </div>
