
    <div class="container pt-3 my-3 bg-white">
        <div class="row align-items-center">
          <div class="col-md-10 offset-md-1">
            
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  
  
  
  
  
              <% if(locals.success.length>0) { %>
                <div class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
                    role="alert">
                    <%= success %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                    
        
                <% if(locals.error.length>0) { %>
                    <div
                      class=" w-50 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
                      role="alert">
                      <%= error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
  
                  <center>

                    <% if(locals.result != 0){ %>

                   
  
                    <form name="myForm" action="/student/studfee" style="background-color: rgb(92, 120, 133);" method="POST">
  
                      <b>
                        <h1 style="font-family: 'Times New Roman', Times, serif;">PAY YOUR FEE DUE</h1>
                      </b><br>
                      <div class="row g-2">


                     
                        <div class="col-lg-6">
                          

                          <div class="mb-3">
                            <div class="form-floating w-75 p-2">
                              <input type="text" class="form-control" name="studid" id="studid" placeholder="Student ID" value="<%= result[0].Stud_ID %>" disabled>
                              <label for="studid">Student ID</label>
                            </div>
                          </div>

                          <div class="mb-3">
                            <div class="form-floating  w-75 p-2">
                              <input type="text" class="form-control" name="class" id="class1" placeholder="Class" value="<%= result[0].Class %>" disabled>
                              <label for="class">Class</label>
                            </div>
                          </div>


                          <div class="mb-3">
                            <div class="form-floating  w-75 p-2">
                              <input type="text" class="form-control" name="section" id="section" placeholder="Section" value="<%= result[0].section %>" disabled>
                              <label for="section">Section</label>
                            </div>
                          </div>
  
  
                      
  
  
  
  
                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <input type="text" class="form-control" name="name" id="name" placeholder="Name"  value="<%= result[0].Middle_Name %>" disabled>
                          <label for="name">Name</label>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <select class="form-select" aria-label="Default select example" id="payment_mode_stud" name="payment_mode_stud">
                            <option selected value="Online Payment">Online Payment</option>
                          </select>
                          <label for="payment_mode_stud">Payment Mode</label>
                        </div>
                      </div>
                    </div>


                    <div class="col-lg-6">
                     
                        <div class="mb-3">
                            <div class="form-floating w-75 p-2">
                              <input type="text" class="form-control" name="phno" id="phno" placeholder="Phone Number" value="<%= result[0].Emergency_Contact_No %>" disabled>
                              <label for="phno">Phone Number</label>
                            </div>
                          </div>

                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <input type="email" class="form-control" name="Email" id="Email" placeholder="Email ID" value="<%= result[0].email_id %>" disabled>
                          <label for="Email">Email ID</label>
                        </div>
                      </div>


                     



                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <input type="number" class="form-control" name="actualfee" id="actualfee" placeholder="Actual Fee" value="<%= result[0].Actual_fee %>" disabled>
                          <input type="hidden" class="form-control" name="actualfee_hide" id="actualfee_hide" placeholder="Actual Fee" value="<%= result[0].Actual_fee %>" >
                          <label for="actualfee">Total Fee</label>
                        </div>
                      </div>


                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <input type="number" class="form-control" name="paying_amt" id="paying_amt"  placeholder="Paying Amount" min="0" max="<%= result[0].pending_due %>">
                          <label for="paying_amt">Paying Amount</label>
                        </div>
                      </div>


                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <input type="number" class="form-control" name="balance" id="balance" placeholder="Balance" value="<%= result[0].pending_due %>" disabled>
                          <input type="hidden" class="form-control" name="balance_hide" id="balance_hide" placeholder="Balance" value="<%= result[0].pending_due %>"> 
                          <label for="balance">Balance</label>
                        </div>
                      </div>
                    </div>

                </div>
                      <button class="btn btn-primary" type="submit">SUBMIT</button> <br><br>
  
  
                    
  
                    </form>
                  </center>
                  <%  } %>

                  <% if(locals.result == 0) { %>
                   
                      <div class="col">
                        <h1>Please login to continue</h1>
                        <a href="/" class="btn btn-primary" role="button">Login Here</a>
                      </div>
                   
                    <% } %>
          </div>
        </div>
      </div>
