<center>
    <h1 style="font-family: 'Times New Roman', Times, serif;">EXAMS</h1><br>
   
</center>
<% if(locals.success.length>0) { %>
  <div class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
      role="alert">
      <%= success %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>
      

  <% if(locals.error.length>0) { %>
      <div
        class=" w-50 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
        role="alert">
        <%= error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

      <form name="myForm" action="/staff/view-exam" method="POST">
<table class="w-50 p-3 container table table-light text-center">
    <thead>
      <tr>
      <th scope="col">S.No</th>
      <th scope="col">EXAM NAME</th>
      <th scope="col">CLASS & SECTION</th>
      <th scope="col">DATE & TIME</th>
      <th scope="col">ACTIONS</th>
    </tr>
    </thead>
    <tbody>
        <% if(result.length !=0) {        
            for(var i = 0; i < result.length; i++) { %>
              <tr>
                <th scope="row"><%= (i+1) %>.</th>
                <td><%= result[i].exam_name %></td>
                <td><%= result[i].Class %> - <%= result[i].section %></td>
                <td><%= result[i].Date %></td>

                <td>
                    <button class = "view_exam_inModal btn btn-primary" data-sectionId = "<%= result[i].section_id %>" data-examMaster = "<%= result[i].exam_master %>" type = "button" data-bs-toggle = "modal">
                      <i i class="fa fa-eye" aria-hidden="true"></i></button>
                      <button class = "delete_exam_inModal btn btn-danger" data-sectionId = "<%= result[i].section_id %>" data-examMaster = "<%= result[i].exam_master %>" type = "button" data-bs-toggle = "modal">
                      <i class="fa fa-remove"></i></a>
                  </td>
              </tr>
        <%  }  
          } else { %>
                  <tr>
                    <td colspan="12" class="text-center">No Records Found.</td>
                   </tr>
            <% } %>
        </tbody>
      </table>
    </form>

  
  <!-- Modal For View -->
  <div class="modal fade" id="examViewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">EXAM DETAILS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="view_exam_modal_body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


   <!-- Modal For Delete -->
  <div class="modal fade" id="examDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DELETE EXAMS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="delete_exam_modal_body">

        </div>
      </div>
    </div>
  </div>



  
<!-- <div class="row examList_data m-2"><table class='text-center table table-light'><thead><tr><th scope='col'>S.No</th><th width='200px'>Exam Name</th><th width='200px'>Date</th><th>Class & Section</th><th>Subject Name</th></tr></thead></table></div> -->